<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>&Chi;mRmsG&#8707;&#915;</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='milligram.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='milligram.css') }}">
</head>
<body>
    <br>
    <div class="container">
        <h2>&#x18E;ncryp&#1007;ed Mess&#x39B;ge</h2>
        <textarea rows="30" cols="100">
        {{ msg }}
        </textarea>
    </div>
</body>
</html>
